.container {
  background: white;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.welcome {
  
  background: black;
  color: white;
  width: 60%;
  padding: 20px;
  overflow: auto;
}