@import '_color';
@import '_initialpage';
@import '~foundation-sites/scss/util/util';
@import '../node_modules/foundation-sites/scss/util/util';
@import '../node_modules/foundation-sites/scss/foundation';
@include foundation-everything;
@include foundation-grid;

body {
  background: $bgcolor;
  color: $color;
}


